// $default: linear-gradient(to top, #4481eb 0%, #04befe 100%);
$default: linear-gradient(to top, #15cf9f, #a8eea9);

$white: #ffffff;
$black: #000000;
$light-black: #494949;
$green: #4fdba3;
$dark-green: #1fa77f;
$orange: #ff7800;
$maroon: #e12246;
$grey: #ded4d6;
$silver: #8d8b8b;
