@import '../../../styles.scss';

.tab-bar {
    background-color: $white;
    height: 55px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 1px 1px 10px #e8e8e8;
    .tabs {
        display: flex;
        justify-content: space-around;
        .tab {
            text-align: center;
            i {
                font-size: 20px;
            }
            p {
                font-size: 13px;
            }
            &.circular {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                position: relative;
                top: -30px;
                background: $default;
                i {
                    color: $white;
                    font-size: 30px;
                    line-height: 60px;
                }
            }
        }
    }
}