<section class="next-step-screen">
  <div class="container">
    <div class="row">
      <div class="phone-img">
        <img src="../../../../../assets/img/call-icon.png" alt="icon">
      </div>
    </div>
    <div class="number-input">
      <div class="form-group cutom-input">
        <label>Enter Partner's Mobile Number</label>
        <input type="number" class="form-control" placeholder="" [(ngModel)]="mobile" (change)="changeMobile($event)">
      </div>
    </div>

    <div class="nda-btns">
      <a class="rounded-btn w-100 click" (click)="changeStep(1)">CLICK HERE TO NDA</a>
      <a class="rounded-btn mt-4 w-100" (click)="save()">PROCEED NDA</a>
    </div>
  </div>
</section>