<section class="edit-profile-screen py-4">
  <!-- <div style="background-image: url(../../../../assets/img/login-dotted-bg.png);"> -->
    <div class="container">
      <form class="change-password-inputs">
        <div class="form-group cutom-input">
          <!-- <label>First Name</label> -->
          <input type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group cutom-input">
          <!-- <label>Last Name</label> -->
          <input type="text" class="form-control" placeholder="Last Name">
        </div>
        <div class="form-group cutom-input">
          <!-- <label>Email</label> -->
          <input type="email" class="form-control" placeholder="Email">
        </div>

        <div class="update-btn">
          <a class="rounded-btn w-50">UPDATE</a>
        </div>
      </form>
    </div>
  <!-- </div> -->
</section>
