@import '../../../../styles.scss';

section {
  &.add-credits-screen {
    .heading {
      h6 {
        text-align: center;
        color: #303030;
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 18px;
      }
    }
    .boxed-input {
      position: relative;
      span {
        position: absolute;
        color: $green;
        font-size: 38px;
        font-weight: 500;
        left: 25px;
        top: 12px;
      }
      input {
        padding: 10px 20px 10px 83px;
        font-size: 38px;
      }
    }
    .hardcoded-text {
      padding: 20px 25px;
      text-align: center;
      p {
        font-size: 15px;
        color: $silver;
      }
    }
  }
}
