<section class="add-credits-screen">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 heading">
            <h6>Add Credits</h6>
          </div>
        </div>

        <div class="boxed-input amount">
          <span>$</span>
          <input type="number" placeholder="XX.XX" />
        </div>

        <div class="hardcoded-text">
          <p>Enter the Amount needed and click Pay Now to add credits</p>
        </div>

        <div class="pay-btn pt-3">
          <a class="rounded-btn w-50">PAY NOW</a>
        </div>
      </div>
    </div>
  </div>
</section>
