@import '../../../../styles.scss';

section {
  &.add-credits-screen {
    .heading {
      h6 {
        text-align: center;
        color: #303030;
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 18px;
      }
    }
    .boxed-input {
      position: relative;
      span {
        position: absolute;
        color: $green;
        font-size: 38px;
        font-weight: 500;
        left: 25px;
        top: 12px;
      }
      input {
        padding: 10px 20px 10px 83px;
        font-size: 38px;
      }
    }
    .hardcoded-text {
      padding: 20px 25px;
      text-align: center;
      p {
        font-size: 15px;
        color: $silver;
      }
    }

    // payment methods or add new card

    .add-new-card {
      .heading {
        p {
          color: #6b6b6b;
          font-size: 16px;
          font-weight: 500;
          padding-bottom: 10px;
        }
      }
      .new-card {
        a {
          text-decoration: none;
          font-size: 18px;
          color: #01ca9c;
          i {
            color: #01ca9c;
            font-size: 19px;
            padding-right: 10px;
          }
        }
        .right-arrow {
          i {
            color: #959595;
            float: right;
            font-size: 17px;
            padding-top: 4px;
          }
        }
      }
    }
  }
}
