<section class="forget-screen">
  <!-- <div style="background-image: url(../../../../assets/img/login-dotted-bg.png);"> -->
    <div class="container">
      <div class="row">
        <div class="col-12 heading">
          <h6>Enter Code</h6>
        </div>
      </div>

      <div class="row forget-inputs">
        <div class="col-3 boxed-input">
          <input type="number" placeholder="X" />
        </div>
        <div class="col-3 boxed-input">
          <input type="number" placeholder="X" />
        </div>
        <div class="col-3 boxed-input">
          <input type="number" placeholder="X" />
        </div>
        <div class="col-3 boxed-input">
          <input type="number" placeholder="X" />
        </div>
      </div>

      <div class="hardcoded-text">
        <p>Confirm your mms number to update your password</p>
      </div>

      <div class="forget-btn pt-3">
        <a class="rounded-btn w-50">Verify</a>
      </div>
    </div>
  <!-- </div> -->
</section>
