<section class="change-password-screen">
  <div class="container">
    <form class="change-password-inputs">
      <div class="form-group cutom-input">
        <!-- <label>Password</label> -->
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group cutom-input">
        <!-- <label>New Password</label> -->
        <input type="password" class="form-control" placeholder="New Password">
      </div>
      <div class="form-group cutom-input">
        <!-- <label>Confirm Password</label> -->
        <input type="password" class="form-control" placeholder="Confirm Password">
      </div>

      <div class="update-btn">
        <a class="rounded-btn w-50">UPDATE</a>
      </div>
    </form>
  </div>
</section>
