<section class="payment-method-screen">
  <div class="container">
    <div class="payment-methods">
      <div class="heading">
        <p>Payment Methods</p>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <a href="#">
                <i class="fas fa-credit-card"></i>
                2563 7902
              </a>
            </div>
            <div class="col-2">
              <div class="right-arrow">
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <a href="#">
                <img src="../../../../assets/img/pm1.png">
              </a>
            </div>
            <div class="col-2">
              <div class="right-arrow">
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="new-card mt-5">
      <div class="heading">
        <p>Add New Card</p>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <a href="#">
                <i class="far fa-credit-card"></i>
                Add Card
              </a>
            </div>
            <div class="col-2">
              <div class="right-arrow">
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
