@import '../../../../styles.scss';

section {
  &.nda-listings-screen {
    .card {
      margin-bottom: 12px;
      .heading {
        h5 {
          color: $black;
        }
        a {
          i {
            color: #ff7800;
            font-size: 18px;
          }
        }
      }
      p {
        color: $black;
        padding-top: 10px;
      }
      .edit-btn {
        text-align: center;
        padding-bottom: 12px;
        a {
          color: #19d09f;
          font-size: 18px;
          text-decoration: none;
          span {
            padding-left: 12px;
          }
        }
      }
    }
  }
}
