<section class="nda-listings-screen">
  <app-credits-bar [credits]="creditsCount"></app-credits-bar>

  <div class="container py-4">
    <div class="card" *ngFor="let item of List">
      <div class="card-body pb-0">
        <div class="heading d-flex justify-content-between">
          <h5 class="card-title">{{item.title}}</h5>
          <a><i class="far fa-edit"></i></a>
        </div>
        <p class="card-text">{{item.content}}</p>
      </div>
      <hr>
      <div class="edit-btn">
        <a>
          <i class="fas fa-pencil-alt"></i>
          <span>Describe</span>
        </a>
      </div>
    </div>
  </div>
</section>
