<section class="nda-create-screen">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <p>With supporting text below a natural</p>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body cutom-input">
        <p>My name is <input type="text" placeholder="(name of person giving consent)">. I am over 18 years of age and of sound mind.</p>
        <p class="py-3">I consent to engaging in sexual activity with <input type="text" placeholder="(name of person seeking consent)"> on <input type="date" placeholder="(date of potential sexual activity)">.</p>
        <p>My consent agreement will be permanently stored and remain confidential by YesisYes, unless I dispute at a later time that the sexual activity was consensual."</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Agree
              </label>
            </div>
          </div>
          <div class="col-7">
            <div class="next-btn">
              <a class="rounded-btn w-100">NEXT STEP</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
