<section class="signup-screen">
  <div class="container">

    <div class="row">
      <div class="logo py-5">
        <img src="assets/img/text-logo.png" alt="Logo" />
      </div>
    </div>

    <form class="signup-inputs" [formGroup]="programForm">

      <div class="alert alert-danger" role="alert" *ngIf="error">{{errorMsg}}</div>

      <div class="form-row">
        <div class="form-group col cutom-input">
          <input type="text" class="form-control" placeholder="First Name" formControlName="firstName">
        </div>
        <div class="form-group col cutom-input">
          <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
        </div>
      </div>

      <div class="form-group cutom-input">
        <input type="email" class="form-control" placeholder="Email" formControlName="email">
      </div>

      <div class="form-group cutom-input">
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
      </div>
      <div class="form-group cutom-input">
        <input type="password" class="form-control" placeholder="Confirm Password" formControlName="cPassword">
      </div>

      <div class="signup-btn">
        <a class="rounded-btn w-50" (click)="signup()">Sign Up</a>
      </div>

      <div class="account-new pt-3 text-center">
        <span>Clicking Register means agreeing our</span>
        <a>Terms & Conditions</a>
      </div>
    </form>
  </div>
</section>