@import '../../../../styles.scss';

section {
  &.signup-screen {
    .logo {
      display: block;
      margin: auto;
      img {
        width: 70px;
        height: 70px;
      }
    }
    form {
      &.signup-inputs {
        .signup-btn {
          margin-top: 13%;
        }
      }
    }
    .account-new {
      span {
        color: $black;
        font-size: 14px;
      }
      a {
        font-weight: 600;
        font-size: 14px;
        padding-left: 5px;
        color: $light-black;
      }
    }
  }
}
