<section class="general-info-screen">
  <div class="container">
    <div class="card">
      <div class="card-body head">
        <p>With supporting text below a natural</p>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body content">
        <p>My name is <a class="text-primary" (click)="getPersonGiving()">{{generalInfo.personGiving}}</a>. I am over 18 years of
          age and of sound mind.</p>
        <p class="py-3">I consent to engaging in sexual activity with <a class="text-primary"
            (click)="getPersonSeeking()">{{generalInfo.personSeeking}}</a> on <a class="text-primary"
            (click)="getDated()">{{generalInfo.dated}}</a>.</p>
        <p>My consent agreement will be permanently stored and remain confidential by YesisYes, unless I dispute at a
          later time that the sexual activity was consensual."</p>
      </div>
    </div>
    <div class="card mt-5">
      <div class="card-body agree">
        <div class="row">
          <div class="col-7 pr-0">
            <div class="form-check">
              <input class="form-check-input" type="radio" [(ngModel)]="agree" (change)="changeAgree($event)">
              <label class="form-check-label">
                Agree
              </label>
            </div>
            <div class="digital-sign d-flex">
              <a (click)="changeStep(2)">
                <i class="fas fa-download"></i>
                Digital Signature
              </a>
            </div>
          </div>
          <div class="col-5 d-block m-auto">
            <div class="next-btn">
              <a class="rounded-btn w-100" (click)="changeStep(3)">NEXT STEP</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>