@import '../../../styles.scss';

section {
  &.favorites-screen {
    .card {
      margin-bottom: 12px;
      h5 {
        color: $black;
      }
      p {
        color: $black;
        padding-top: 8px;
      }
    }
  }
}
